# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ParcialFinal.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\royber manjarrez\RiderProjects\ParcialFinal\.idea\.idea.ParcialFinal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
